@if (modalService.displayModals() !== null && modalService.displayModals()!.length > 0) {
<div #host 
    class="grid grid-rows-1 grid-cols-1 
    absolute top-0 left-0 
    w-dvw h-dvh 
    items-center justify-items-center
    [&>*]:row-start-1 [&>*]:col-start-1
    bg-gray-700/25">
     @for (modal of modalService.displayModals(); track $index) {
        @switch (modal.kind) {
            @case ('confirm') { <app-modal-confirm [model]="modal" /> }
            @case ('form')    { <app-modal-form [model]="modal" /> }
        }
    }
</div>
}
