<div [class]="wrapperClass()" (click)="focus()">
    @if (icon() !== undefined) {
        <hugeicons-icon
            [icon]="icon()!"
            [size]="24"
            color="currentColor"
            [strokeWidth]="1.5"
            [class]="iconClickable() ? 'cursor-pointer hover:brightness-125' : ''"
            (click)="iconClickable() && onIconClick.emit()"
            />
    }

    <input
        #myInput
        [type]="type()"
        [name]="name()"
        [attr.autocomplete]="autocomplete() || null"
        [disabled]="disabled()"
        [readOnly]="readonly()"
        [required]="required()"
        [attr.aria-invalid]="showError()"
        class="outline-none grow w-full [&::-webkit-calendar-picker-indicator]:hidden"
        [class]="disabled() ? 'cursor-not-allowed' : ''"
        [placeholder]="placeholder()" [value]="value()"
        (input)="onInput($event)"
        (blur)="touch.emit()"
        />
</div>
