 
 <!-- TODO : implement cross button -->
 <div class="w-96 min-h-52 rounded-lg bg-surface
    flex flex-col gap-2 p-4">
    <p class="text-4xl font-bold text-center text-text"> {{ model().title }} </p>
    <hr class="border-border"/>
    <p class="text-text grow"> {{ model().description }}</p>
    <div class="flex flex-row items-stretch content flex-nowrap h-12 gap-2
    [&>button]:grow [&>button]:rounded-lg [&>button]:font-bold [&>button]:cursor-pointer [&>button]:hover:brightness-110">

    @for (button of model().buttons; track $index) {
        @switch (button.type) {
            @case ('Primary') {
                <button (click)="button.onClick()" class="bg-interactive text-surface">{{button.text}}</button>
            }
            @case ('Secondary') {
                <button (click)="button.onClick()" class="bg-app text-text">{{button.text}}</button>
            }
            @case ('Tertiary') {
                <button (click)="button.onClick()" class="border-4 border-slate text-slate">{{button.text}}</button>
            }
        }
    }
    </div>
</div>
